[user]
	name = Dimitar Kovachev
	email = d.kovachev@gmail.com
[pull]
	rebase = true
[push]
	default = simple

# [core]
#	autocrlf = true

# Use an additional config file for work-related repos' name and email
[includeIf "gitdir/i:~/Work/"]
    path = .gitconfig-work

[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        unstage = reset HEAD --
        last = log -1 HEAD
